// Update the import directory to point to it‘s location within node_modules
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";

// Import the Sass files as usual
@import "bootstrap-icons/font/bootstrap-icons";

@import "~bootstrap/scss/bootstrap";

.code-group code {
	color: var(--bs-code-color);
}

.code-input {
	font-family: Consolas, monospace;
	color: var(--bs-code-color);
}

.code-error {
	color: $danger;
}

.modal-body {
	overflow-wrap: break-word;
}

#format-stmt-div {
	max-height: 100%;
	overflow: hidden;
	transition: max-height 0.2s;
}

#output-text {
	padding-left : 0;
	padding-right: 0;
	color: var(--bs-code-color);
	margin-bottom: 1px;
}